*{
    margin:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.background{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('Netflix.jpg');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-bar{
    height: 90px;
    width: 100%;
    display:flex;
    justify-content: space-evenly;

}

.container-logo{
    height: 85px;
    width: 200px;
    padding-top: 30px;

}

.add-logo{
    background-image: url('netflix-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    width: 200px;
}

.right-panel{
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

.nav-lang{
    height: 75px;
    width: 125px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: end;
}

select{
    width: 122px;
    height: 32px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 33px;
}

#signin{
    background-color: red;
    height: 32px;
    width: 75px;
    border: 1px solid black;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 38px;
    color: white;

}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 100%;
}

.heading-one{
    color: white;
    font-size: 50px;
    font-weight: 1000;
    width: 900px;
    position: relative;
    top: 50px;
    left: 65px;

    
}
.heading-two p {
    color: white;
    font-size: 24px;
    font-weight: 500;
    gap: 20px;
    height: 50px;
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50px;
    right: 60px;
}

.field-email{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    left: 30px;
}

input{
    height:56px;
    width:370px;
    background-color: transparent;
    font-size: 19px;
    border:0.05px solid white;
    border-radius: 5px;
    padding: 10px;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.589);
}

#get-started{
    width: 205px;
    height: 55px;
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin: 23px;
    background-color: red;
    border-radius: 5px;
    border: none;
}

.section-one{
    height: 580px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 10px solid rgba(255, 255, 255, 0.201);
}

.add-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 850px;
    gap: 20px;
    
}

h1{
    width: 550px;
    color: white;
    font-size: 50px;
    font-weight: 1000;
}

h2{
    width: 550px;
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.add-movie{
    position: relative;
    top: 65px;
    left: 35px;
    right: 200px;
}

.add-tv-image{
    position: relative;
    bottom: 200px;
    right: 100px;
    z-index: 10;
    height: 400px;
    width: 300px;
}

video{
    position: relative;
    top: 100px;
    right: 50px;
}

.section-two{
    height: 580px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 10px solid rgba(255, 255, 255, 0.201);
    border-bottom: 10px solid rgba(255, 255, 255, 0.201);
}

.add-children-image{
    background-image: url('childrenimage.png');
    background-size: cover;
    height: 450px;
    width: 580px;
}

#children-text-two{
    width: 540px;
    padding: 10px;
}

#children-text-one{
    width: 550px;
    padding: 10px;
}

footer{
    background-color: black;
    color: white;
    height: 580px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.list-footer{
    display: flex;
}

.footer-text{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: left;
    padding: 0px 80px;
}

.footer-text a,p{
    text-align: left;
    color: rgba(255, 255, 255, 0.549);
    padding: 6px 0px;
    font-size: 15px;
}

.netflix-footer{
    position: relative;
    right: 485px;
    top: 10px;

}

.footer-text p{
    font-size: 18px;
}
